:root {
    /* Style */
    --main-bg-red: #EB4F4F;
    --main-bg-light: #FFECE1;
    --main-bg-pink: #FED2CA;
    --text-purple: #4F4598;
    --text-light: #FFFFFF;
    --body-font: 'Inter';
    --heading-font: 'Lobster';
    --standard-width: 1144px;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    color: var(--text-light);
    width: 100%;

}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--main-bg-red);
    /* max-width: var(--standard-width);
    padding: 0 24px; */
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;


}

.menu a {
    margin: 0 24px;
    text-decoration: none;
    color: var(--text-light);
    font-size: 24px;
}

.menu a:hover {
    text-decoration: underline;
    cursor: pointer;
}


.hero-redbg {
    background-color: var(--main-bg-red);

}

.hero-bgbg {
    background-color: #FFECE1;
}


.header {
    /* min-height: 400px; */
    /* uvijek koristiti min-height umjesto height, zato sto na mobilnim verzijama height se mijenja */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.header .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.header .links a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    padding-top: 20px;
}

.header h1 {
    font-family: 'Lobster';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 56px;
}

.header p {
    font-family: 'Inter';
    color: #FFFFFF;
    font-size: 16pxpx;
    padding-bottom: 30px;
    text-align: center;
}

.box {
    padding: 15px 10px;
    color: #4F4598;
    font-family: "Inter";
    font-weight: 500;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 450px;
    border: white solid 3px;
    border-radius: 15px;
    background-color: #FFECE1;
    position: relative;
    margin: 0 auto;
    top: -50px;
    box-shadow: 11.6735px 20.1633px 38.2041px 6.36735px rgba(218, 0, 0, 0.19);
}

.main {
    background-color: #FFECE1;
    height: 1200px;
}

.clothes {
    min-height: 200px;
}

footer {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
}

.hero-pinkbg {
    background-color: #EB4F4F;
}

.hero-clothes {
    background-color: #FED2CA;
}

footer p {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    margin: 0;
}

.half-width {
    max-width: 280px;
}

.button {
    background-color: white;
    color: var(--text-purple);
    border-radius: 20px;
    box-shadow: #4F4598;
    border-color: #4F4598;
    padding: 5px 20px;
}

.button-submit {
    background-color: var(--main-bg-red);
    color: white;
    border-radius: 20px;
    box-shadow: #4F4598;
    border-color: #4F4598;
    padding: 5px 20px;
}